// Abstracts
@import './abstracts/fonts';

// Extend
@import './extends/label';

// Base
@import './base/reset';

// Plugins
@import './plugins/vuetify/index';
@import './plugins/sweetalert';

// Components

@import './components/checkbox';
@import './components/select';

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(var(--v-theme-primary), 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #196943;
}

.v-table__wrapper thead tr th {
  font-size: 13px;
  font-weight: 500 !important;
}

.v-locale--is-rtl {
  .v-table__wrapper thead tr th {
    &:first-child {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }

    &:last-child {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }

    &:not(:first-child) {
      border-right: none !important;
    }

    &:not(:last-child) {
      border-left: none !important;
    }
  }
}

.v-input * {
  border: none !important;
}
